* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: rgb(211, 216, 216);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  height: 842px;
  width: 595px;
}

/* ======= Rectangular pattern */
.pattern__container {
  height: 85%;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.pattern__container ul {
  height: 32.5rem;
  width: 30rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  transform: rotate(45deg);
  margin-top: 2.9rem;
  margin-left: 2.5rem;
}

.pattern__container ul li {
  width: 100%;
}

.pattern__container ul li:nth-child(3n-2) {
  background-color: rgba(0, 0, 0, 1);
}

.pattern__container ul li:nth-child(3n + 2) {
  background-color: rgb(119, 8, 8);
}

.pattern__container ul li:nth-child(3n + 3) {
  background-color: rgb(40, 109, 40);
}

.pattern__container ul li:nth-child(3n + 2),
.pattern__container ul li:nth-child(3n + 3) {
  height: 50%;
  width: 50%;
}

.pattern__container ul li:nth-child(3),
.pattern__container ul li:nth-child(5),
.pattern__container ul li:nth-child(9) {
  align-self: center;
}

.pattern__container ul li:nth-child(6) {
  align-self: flex-end;
}

/* =============== End of rectangular pattern =============== */

.text__container {
  height: 15%;
  border: 1px solid green;
  background: green;
}
